


<h2>Lista de usuários</h2>
<p><a class="btn btn-primary" routerLink="/usuario-add">Novo Usuário</a>  </p>

<table class="table table-hover table-striped">
    <tr>
        <th>
            Id
        </th>
        <th>
            Nome
        </th>
        <th>
            Idade
        </th>
        <th>
            Perfil
        </th>  
        <th>
            Cep
        </th>          
        <th>

        </th>
        <th>

        </th>
    </tr>
    <tr *ngFor="let usuario of usuarios; let i = index">
        <td>
            {{usuario._id}}
        </td>
        <td>
            {{usuario.nome}}
        </td>
        <td>
            {{usuario.idade}}
        </td>
        <td>
            {{usuario.perfil.nome}}
        </td>     
        <td>
            {{usuario.cep}}
        </td>           
        <td>
             <a class="btn btn-primary" routerLink="/usuario-edit/{{usuario._id}}">Editar</a>
        </td>
        <td>
            <button class="btn btn-danger" (click)=deletar(usuario._id,i)>Deletar</button>
        </td>
    </tr>
</table>