<h2>Lista de Totalizadores</h2>
<p><a class="btn btn-primary" routerLink="/totalizador-add">Novo Usuário</a>  </p>

<table class="table table-hover table-striped">
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Quantidade
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    <tr *ngFor="let totalizador of totalizadores; let i = index">
        <td>
            {{totalizador.descricao}}
        </td>
        <td>
            {{totalizador.qtde}}
        </td>
        <td>
            <a class="btn btn-primary" routerLink="/totalizador-edit/{{totalizador._id}}">Editar</a>
            
        </td>
        <td>
            <button class="btn btn-danger" (click)=deletar(totalizador._id,i)>Deletar</button>
        </td>
    </tr>
</table>