 <h2>Manter de Turma</h2>

          <div class="form-group   col-md-6">
            <label>Descrição</label>
            <input class="form-control" [(ngModel)]="turmaObject.descricao"   />
          </div>
          <div class="form-group col-md-12">
            <label>Periodo</label>
            <input class="form-control" [(ngModel)]="turmaObject.periodo"   />
          </div>
           <div class="form-group col-md-12">
            <label>Sala</label>
            <input class="form-control" [(ngModel)]="turmaObject.sala"   />
          </div>
           <div class="form-group col-md-12">
            <label>Horário</label>
            <input class="form-control" [(ngModel)]="turmaObject.horario"   />
          </div>
           <div class="form-group col-md-12">
            <label>Sigla</label>
            <input class="form-control" [(ngModel)]="turmaObject.sigla"   />
          </div>
           <div class="form-group col-md-12">
            <label>Capacidade</label>
            <input class="form-control" [(ngModel)]="turmaObject.capacidade"   />
          </div>
 
 
 
 
          <div *ngIf="!edit" class="form-group col-md-12">
            <button class="btn btn-primary" (click)="salvar(turmaObject)">Salvar</button>
          </div>
          <div *ngIf="edit" class="form-group col-md-3">
            <button class="btn btn-primary" (click)="editar(turmaObject, true)">Editar</button>
          </div>