<h2>Lista de Turmas</h2>
<p><a class="btn btn-primary" routerLink="/turma-add">Nova Turma</a>  </p>



          <table class="table table-hover table-striped">
             <tr>
                <th>
                    Descrição
                </th>
                <th>
                    Periodo
                </th>
                <th>
                    sala
                </th>
                <th>
                    horario
                </th>
                <th>
                    sigla
                </th>                
                <th>
                    capacidade
                </th>                   
                <th>

                </th>
                <th>

                </th>
             </tr>
             <tr *ngFor="let turma of turmas; let i = index">
                <td>
                    {{turma.descricao}}
                </td>
                <td>
                    {{turma.periodo}}
                </td>
                <td>
                    {{turma.sala}}
                </td>
                <td>
                    {{turma.horario}}
                </td>
                <td>
                    {{turma.sigla}}
                </td>
                <td>
                    {{turma.capacidade}}
                </td>                
                <td>
                   <a class="btn btn-primary" routerLink="/turma-edit/{{turma._id}}">Editar</a>
                </td>
                <td>
                    <button class="btn btn-danger" (click)=deletar(turma._id,i)>Deletar</button>
                </td>
             </tr>
          </table>