


 <h2>Manter Perfil</h2>
          <div class="form-group col-md-4">
            <label>Nome</label>
            <input class="form-control" [(ngModel)]="perfilObject.nome"   />
          </div>
          <div *ngIf="!edit" class="form-group col-md-3">
            <button class="btn btn-primary" (click)="salvar(perfilObject)">Salvar</button>
          </div>
          <div *ngIf="edit" class="form-group col-md-3">
            <button class="btn btn-primary" (click)="editar(perfilObject, true)">Editar</button>
          </div>
          <table class="table table-hover table-striped">
             <tr>
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Idade
                </th>
                <th>

                </th>
                <th>

                </th>
             </tr>
             <tr *ngFor="let perfil of perfis; let i = index">
     
                <td>
                     {{perfil.nome}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)=editar(perfil)>Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)=deletar(i)>Deletar</button>
                </td>
             </tr>
          </table>